<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Mock designk</title>
    <link rel="stylesheet" href="build/index.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/tailwindcss@next/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!--Replace with your tailwind.css once created-->
  </head>
  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <nav id="header" class="bg-white fixed w-full z-10 top-0 p-2 pb-3 shadow">
      <div
        class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0"
      >
        <div class="w-1/2 pl-2 md:pl-0">
          <a
            class="text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold"
            href="#"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="text-green-400 pr-1 h-8 inline-block"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z"
              />
            </svg>
            Let Me Eat Panel
          </a>
        </div>
        <div class="w-1/2 pr-0">
          <div class="flex relative inline-block float-right">
            <div class="relative text-sm">
              <button
                id="userButton"
                class="flex items-center focus:outline-none mr-3"
              >
                <img
                  class="w-6 h-6 rounded-l mr-3"
                  src="https://media.discordapp.net/attachments/776106968090804237/785264824770363462/logo_green.png?width=445&height=445"
                  alt="Avatar of User"
                />
                <span class="hidden md:inline-block text-l subpixel-antialiased"
                  >Hi, Master Jeremy
                </span>
                <svg
                  class="pl-2 h-2"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 129 129"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  enable-background="new 0 0 129 129"
                >
                  <g>
                    <path
                      d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"
                    />
                  </g>
                </svg>
              </button>
              <div
                id="userMenu"
                class="bg-white rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible"
              >
                <ul class="list-reset">
                  <li>
                    <a
                      href="#"
                      class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline"
                      >My account</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline"
                      >Notifications</a
                    >
                  </li>
                  <li>
                    <hr class="border-t mx-2 border-gray-400" />
                  </li>
                  <li>
                    <a
                      href="#"
                      class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline"
                      >Logout</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="block lg:hidden pr-4">
            </div>
          </div>
        </div>
<!---->
        
      </div>
    </nav>

    <!--Container-->
    <div class="container w-full mx-auto pt-20 shadow">
      <div
        class="w-full px-4 md:px-0 md:mt-10 mb-16 text-gray-800 leading-normal"
      >
        <!--Console Content-->

        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div class="bg-white border rounded-2xl shadow-xl p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded-xl hover:rounded p-3 bg-red-600">
                    <i class="fa fa-align-left fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-500">
                    แก้ไขล่าสุด
                  </h5>
                  <h3 class="font-bold text-3xl">
                    12/12/2020
                    <span class="text-red-500"
                      ><i class="fas fa-angle-double-left"></i
                    ></span>
                  </h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div class="bg-white border rounded-2xl shadow-xl p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded p-3 bg-pink-600">
                    <i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-500">จำนวนผู้ใช้งาน</h5>
                  <h3 class="font-bold text-3xl">
                    249
                    <span class="text-pink-500"
                      ><i class="fas fa-exchange-alt"></i
                    ></span>
                  </h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div class="bg-white border rounded-2xl shadow-xl p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded p-3 bg-yellow-600">
                    <i class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-500">ผู้ใช้งานใหม่</h5>
                  <h3 class="font-bold text-3xl">
                    2
                    <span class="text-yellow-600"
                      ><i class="fas fa-caret-up"></i
                    ></span>
                  </h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
          <div class="w-full md:w-1/2 xl:w-1.5/3 p-3">
            <!--Metric Card-->
            <div class="bg-white border rounded-2xl shadow-xl p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded p-3 bg-blue-600">
                    <i class="fas fa-server fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-500">
                    จำนวนร้านค้า
                  </h5>
                  <h3 class="font-bold text-3xl">12 ร้าน</h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
          
          <div class="w-full md:w-1/2 xl:w-1.5/3 p-3">
            <!--Metric Card-->
            <div class="bg-white border rounded-2xl shadow-xl p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded-xl p-3 bg-green-500">
                    <i class="fas fa-inbox fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-500">ร้านค้าใหม่</h5>
                  <h3 class="font-bold text-3xl">
                    3
                    <span class="text-green-500"
                      ><i class="fas fa-caret-up"></i
                    ></span>
                  </h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
        </div>

        <!--Divider-->
        <hr class="border-b-2 border-gray-400 my-8 mx-4" />

        <div class="flex flex-row flex-wrap flex-grow mt-2">
          <div class="w-full md:w-1/2 p-3">
            <!--Graph Card-->
            <div class="bg-white border rounded-2xl shadow-xl">
              <div class="border-b p-3">
                <h5 class="font-bold uppercase text-gray-600">ร้านค้า</h5>
              </div>
              <div class="p-5">
                <div class="items-center flex">
                <button
        type="button"
        class="border border-green-500 bg-green-500 text-white rounded-md px-2 py-1 mb-5 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline"
      >
        เพิ่มร้านค้า
      </button>
      <form method="GET">
    <div class="relative text-gray-600 focus-within:text-gray-400 px-2 py-1">
      <span class="absolute inset-y-0 left-0 flex items-center pl-2">
        <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </button>
      </span>
      <input type="search" name="q" class="py-2 text-sm text-white bg-gray-100 rounded-md pl-10 focus:outline-none focus:bg-white focus:text-gray-900" placeholder="ค้นหา" autocomplete="off">
    </div>
  </form>
  </div>
                <table class="border-collapse w-full">
    <thead>
        <tr>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">ร้านค้า</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">เจ้าของร้าน</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">สถานะ</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">การจัดการ</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">ร้านค้า</span>
                ร้านป้านกเล็ก
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">เจ้าของร้าน</span>
                เสือ
            </td>
          	<td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">สถานะ</span>
                <span class="rounded bg-red-400 py-1 px-3 text-xs font-bold">deleted</span>
          	</td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">การจัดการ</span>
                <a href="#" class="border border-yellow-400 bg-yellow-300 text-white rounded-xl px-2 py-0 m-2 transition duration-500 ease select-none hover:bg-yellow-600 focus:outline-none focus:shadow-outline">เลือก</a>
              
            </td>
        </tr>
        <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">ร้านค้า</span>
                ร้านน้องพลอย
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">เจ้าของร้าน</span>
                โอห์ม
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">สถานะ</span>
                <span class="rounded bg-green-400 py-1 px-3 text-xs font-bold">active</span>
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">การจัดการ</span>
                <a href="#" class="border border-yellow-400 bg-yellow-300 text-white rounded-xl px-2 py-0 m-2 transition duration-500 ease select-none hover:bg-yellow-600 focus:outline-none focus:shadow-outline">เลือก</a>
              
            </td>
        </tr>
        <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">ร้านค้า</span>
				ร้าน me smile
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">เจ้าของร้าน</span>
                โกเทน
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">สถานะ</span>
                <span class="rounded bg-yellow-400 py-1 px-3 text-xs font-bold">inactive</span>
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">การจัดการ</span>
                <a href="#" class="border border-yellow-400 bg-yellow-300 text-white rounded-xl px-2 py-0 m-2 transition duration-500 ease select-none hover:bg-yellow-600 focus:outline-none focus:shadow-outline">เลือก</a>
              
            </td>
        </tr>
    </tbody>
</table>
<div>
            <nav class="relative z-0 inline-flex shadow-sm p-2">
                <div	>
                    <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Previous" v-on:click.prevent="changePage(pagination.current_page - 1)">
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a href="#" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-700 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
                        1
                    </a>
                  <a href="#" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
                        2
                    </a>
                   <a href="#" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
                        3
                    </a>
                </div>
                <div v-if="pagination.current_page < pagination.last_page">
                    <a href="#" class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Next">
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                    </a>
                    
                </div>
                
            </nav>
            
        </div>
              </div>
            </div>
            <!--/กล่อง Card-->
          </div>

          <div class="w-full md:w-1/2 p-3 h-full">
            <!--กล่อง Card-->
            <div class="bg-white border rounded-2xl shadow-xl h-full">
              <div class="border-b p-3">
                <h5 class="font-bold uppercase text-gray-600">จัดการร้านค้า</h5>
              </div>
              <div class="p-5 align-center">
                <div class="p-1 align-center">
    <div class="inline-flex items-center bg-white leading-none text-pink-600 mb-5 rounded-full p-2 shadow text-teal text-sm">
      <span class="inline-flex bg-pink-600 text-white rounded-full h-6 px-3 justify-center items-center">คำเตือน !</span>
      <span class="inline-flex px-2">เมื่อแก้ไขเสร็จอย่าลืมกดบันทึก</span>
    </div>
  </div>
  <div class="flex flex-wrap items-stretch w-full mb-4 relative">
			<div class="flex -mr-px">
				<span class="flex items-center leading-normal bg-grey-lighter rounded rounded-r-none border border-r-0 border-grey-light px-3 whitespace-no-wrap text-grey-dark text-sm">ชื่อร้านค้า</span>
			</div>
      <input type="text" class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border h-10 border-grey-light rounded rounded-l-none px-3 relative" >
    </div>
      <div class="flex flex-wrap items-stretch w-full mb-4 relative">
        <div class="flex -mr-px">
          <span class="flex items-center leading-normal bg-grey-lighter rounded rounded-r-none border border-r-0 border-grey-light px-3 whitespace-no-wrap text-grey-dark text-sm">เจ้่าของร้าน</span>
        </div>
        <input type="text" class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border h-10 border-grey-light rounded rounded-l-none px-3 relative" >
      </div>
      <div class="flex flex-wrap items-stretch w-full mb-4 relative">
        <div class="flex -mr-px">
          <span class="flex items-center leading-normal bg-grey-lighter rounded rounded-r-none border border-r-0 border-grey-light px-3 whitespace-no-wrap text-grey-dark text-sm">อธิบายร้านค้า</span>
        </div>
        <textarea name="text" id="" cols="30" rows="10" class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border h-10 border-grey-light rounded rounded-l-none px-3 relative"></textarea>
        
      </div>
    <button
        type="button"
        class="border border-green-500 bg-green-500 text-white rounded-md px-2 py-2.5 mb-5 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline"
      >
        เพิ่มร้านค้า
      </button>
              </div>
            </div>
            <!--/กล่อง Card-->
          </div>

          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--กล่อง Card-->
            <div class="bg-white border rounded shadow">
              <div class="border-b p-3">
                <h5 class="font-bold uppercase text-gray-600">เปลี่ยนรหัสผ่าน</h5>
              </div>
              <div class="p-5">
                <form>
                <div class="py-1">
                                <span class="px-1 text-sm text-gray-600">รหัสผ่านเดิม</span>
                                <input placeholder="" type="password" x-model="password"
                                       class="text-md block px-3 py-2 rounded-lg w-full
                bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                            </div>
                            <div class="py-1">
                                <span class="px-1 text-sm text-gray-600">รหัสผ่านใหม่</span>
                                <input placeholder="" type="password" x-model="password_new"
                                       class="text-md block px-3 py-2 rounded-lg w-full
                bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                            </div>
                            <div class="py-1">
                                <span class="px-1 text-sm text-gray-600">ยืนยันรหัสผ่านใหม่</span>
                                <input placeholder="" type="password" x-model="password_new"
                                       class="text-md block px-3 py-2 rounded-lg w-full
                bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                            </div>
                            <button class="mt-3 text-lg font-semibold
            bg-gray-800 w-full text-white rounded-lg
            px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
                                ยืนยัน
                            </button>
                            </form>
              </div>
              
              
            </div>
            <!--/กล่อง Card-->
          </div>

          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--กล่อง Card-->
            <div class="bg-white border rounded shadow">
              <div class="border-b p-3">
                <h5 class="font-bold uppercase text-gray-600">กล่อง</h5>
              </div>
              <div class="p-5">
                
              </div>
            </div>
            <!--/กล่อง Card-->
          </div>

          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--กล่อง Card-->
            <div class="bg-white border rounded shadow">
              <div class="border-b p-3">
                <h5 class="font-bold uppercase text-gray-600">กล่อง</h5>
              </div>
              <div class="p-5"></div>
            </div>
            <!-- ปิด -->
          </div>

          <div class="w-full p-3">
            <!-- ใส่ไรสักอย่าง -->
          </div>
        </div>

        <!-- ปิด -->
      </div>
    </div>
    <!-- ปิด -->

    <footer class="bg-white border-t border-gray-400 shadow">
      <div class="container max-w-md mx-auto flex py-8">
        <div class="w-full mx-auto flex flex-wrap">
          <div class="flex w-full md:w-1/2">
            <div class="px-8">
              <h3 class="font-bold font-bold text-gray-900">@Copyright</h3>
              <p class="py-4 text-gray-600 text-sm">
                IT KMITL
              </p>
            </div>
          </div>


      </div>
    </footer>

    <script>
      /*Toggle dropdown list*/
      /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

      var userMenuDiv = document.getElementById("userMenu");
      var userMenu = document.getElementById("userButton");

      var navMenuDiv = document.getElementById("nav-content");
      var navMenu = document.getElementById("nav-toggle");

      document.onclick = check;

      function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //User Menu
        if (!checkParent(target, userMenuDiv)) {
          // click NOT on the menu
          if (checkParent(target, userMenu)) {
            // click on the link
            if (userMenuDiv.classList.contains("invisible")) {
              userMenuDiv.classList.remove("invisible");
            } else {
              userMenuDiv.classList.add("invisible");
            }
          } else {
            // click both outside link and outside menu, hide menu
            userMenuDiv.classList.add("invisible");
          }
        }

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
          // click NOT on the menu
          if (checkParent(target, navMenu)) {
            // click on the link
            if (navMenuDiv.classList.contains("hidden")) {
              navMenuDiv.classList.remove("hidden");
            } else {
              navMenuDiv.classList.add("hidden");
            }
          } else {
            // click both outside link and outside menu, hide menu
            navMenuDiv.classList.add("hidden");
          }
        }
      }

      function checkParent(t, elm) {
        while (t.parentNode) {
          if (t == elm) {
            return true;
          }
          t = t.parentNode;
        }
        return false;
      }
    </script>
  </body>
</html>
