<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mock designk</title>
    <link rel="stylesheet" href="build/index.css" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>
  <style></style>
  <body>
    <!--Navbar-->
    <div
      class="fixed z-20 flex-wrap m-auto top-0 animated flex w-full p-4 px-6 bg-green-500 items-center place-content-between"
    >
      <!--Logo-->
      <div class="font-bold text-4xl text-white">LME</div>
      <!--menu-->
      <div>
        <ul class="flex space-x-8">
          <li>
            <button
              class="transition duration-500 p-2 hover:bg-red-500 bg-white rounded"
            >
              Sign-In
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="md:container md:mx-auto mt-24 mb-4 px-4">
      <!--Body-->
      <div class="my-6 text-4xl font-bold">ร้าน น้องเสือ</div>
      <div class="flex items-center border rounded-lg">
        <div class="w-full">
          <div class="flex justify-center">
            <lottie-player
              class="-mr-16"
              src="cooking.json"
              background="transparent"
              speed="1"
              style="height: 300px"
              loop
              autoplay
            ></lottie-player>
          </div>
          <div class="text-center py-10">
            <div class="text-4xl lg:text-6xl font-bold">ขณะนี้คิวที่ A07</div>
            <div class="mt-2 text-gray-500">เหลืออีก 5 คิว</div>
          </div>
        </div>
      </div>
      <div
        class="mt-6 bg-green-500 text-white rounded-lg p-4 text-xl text-center"
      >
        สั่งอาหาร
      </div>
      <div class="my-6 text-2xl font-bold">เมนูอาหาร</div>
      <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-4">
        <div class="relative">
          <img
            class="object-cover h-64 w-full rounded-lg"
            src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_1200/hellofresh_s3/image/chilli-prawn-linguine-4e6a5cd0.jpg"
          />
          <!--Card-->
          <div class="absolute top-0">
            <div>
              <div class="p-2 bg-white mx-2 mt-2 rounded-lg">
                Pasta in Tomato Sauce
              </div>
            </div>
          </div>
        </div>
        <div class="relative">
          <img
            class="object-cover h-64 w-full rounded-lg"
            src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_1200/hellofresh_s3/image/chilli-prawn-linguine-4e6a5cd0.jpg"
          />
          <!--Card-->
          <div class="absolute top-0">
            <div>
              <div class="p-2 bg-white mx-2 mt-2 rounded-lg">
                Pasta in Tomato Sauce
              </div>
            </div>
          </div>
        </div>
        <div class="relative">
          <img
            class="object-cover h-64 w-full rounded-lg"
            src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_1200/hellofresh_s3/image/chilli-prawn-linguine-4e6a5cd0.jpg"
          />
          <!--Card-->
          <div class="absolute top-0">
            <div>
              <div class="p-2 bg-white mx-2 mt-2 rounded-lg">
                Pasta in Tomato Sauce
              </div>
            </div>
          </div>
        </div>
        <div class="relative">
          <img
            class="object-cover h-64 w-full rounded-lg"
            src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_1200/hellofresh_s3/image/chilli-prawn-linguine-4e6a5cd0.jpg"
          />
          <!--Card-->
          <div class="absolute top-0">
            <div>
              <div class="p-2 bg-white mx-2 mt-2 rounded-lg">
                Pasta in Tomato Sauce
              </div>
            </div>
          </div>
        </div>
        <div class="relative">
          <img
            class="object-cover h-64 w-full rounded-lg"
            src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_1200/hellofresh_s3/image/chilli-prawn-linguine-4e6a5cd0.jpg"
          />
          <!--Card-->
          <div class="absolute top-0">
            <div>
              <div class="p-2 bg-white mx-2 mt-2 rounded-lg">
                Pasta in Tomato Sauce
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
