{% extends 'base.html' %}
{% block content %}
    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Create an Account</h1>
            <form name="singup_form" action="">
                <label for="name">Name</label>
                <input type="text" name="name", class="field">

                <label for="name">Email</label>
                <input type="email" name="email", class="field">

                <label for="name">Password</label>
                <input type="password" name="password", class="field">

                <p class="error error--hidden"></p>
                <label for="name">Submit</label>
                <input type="submit" class="btn">
            </form>
        </div>
    </div>
{% endblock %}