{% extends "base.html" %}


<!--header-->
{% block head %}
{% endblock %}

<!--body-->
{% block body %}
<div class="content">
    <div align="center"><h1>User manager</h1></div>
    <table width="600" class="table table-striped">
        <thead>
            <tr>
                <th width="150"><div align="center">E-mail</div></th>
                <th width="150">Firstname</th>
                <th width="150">Lastname</th>
                <th width="100">Password</th>
                <th width="50">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in table %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a href="/delete/{{user.id}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}