{% extends "base.html" %}


<!--header-->
{% block head %}
{% endblock %}

<!--body-->
{% block body %}
<section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{g.user.firstname}} {{g.user.lastname}}'s Profile
        </h1>
        <h2 class="subtitle">
          Your's email are {{g.user.email}}
        </h2>
        <h2 class="subtitle">
          You are id number #{{g.user.id}}
        </h2>
      </div>
    </div>
  </section>
{% endblock %}